
.paper {
    background-color:rgb(198, 191, 175);
    font-family:Comic Sans MS;
    font-size: 36px ;color: darkcyan;
    ;
}

h1 {text-align: center;}

.pt {flex-direction: row;
    display: flex;
    gap: 200px;
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-color: darkcyan
    
}
.s{border-bottom: 10px;
    border-bottom-style: solid;
    border-color: darkcyan}
